* {
  margin: 0;
  padding: 0;
}

.background {
  background-color: rgb(0,0,0);
  width: 1000px;
  height: 1800px;
  display: flex;
  justify-content: center;
  align-items: center;


}

.bouncer {
  position: absolute;
  transform: scale(2.5);
  left: 200px;
  bottom: 300px;


}
