* {
  margin: 0;
  padding: 0;
}


/* laptops */
@media screen
  and (min-device-width: 1200px) {
    .background {
      background-color: black;
      width: 2000px;
      height: 1000px;
    }

    .bouncer {
      position: absolute;
      transform: scale(1);
      left: 550px;
      bottom: 100px;
    }

  }


/* phone */

@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    .background {
      background-color: black;
      min-width: 320px;
      max-width: 480px;
      min-height: calc(100vh - 56px);
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .bouncer {
      position: absolute;
      transform: scale(2);
      left: 80px;
      bottom: 400px;
    }


}
